<aside class="sidebar">
    <div id="about" class="sidebar-widget about-widget">
        <h3>Về Khanh Hoa</h3>
        <p>Chuyên gia về Chiến lược, Dữ liệu và OKRs. Tôi giúp các tổ chức tối ưu hóa hiệu suất thông qua tư duy hệ thống.</p>
        <div class="social-links">
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>

    <div class="sidebar-widget">
        <h3>Chuyên môn</h3>
        <ul class="expertise-list">
            <li><i class="fa-solid fa-bullseye"></i> OKRs & Quản trị</li>
            <li><i class="fa-solid fa-chart-line"></i> Phân tích Dữ liệu</li>
            <li><i class="fa-solid fa-chess-knight"></i> Tư duy Chiến lược</li>
            <li><i class="fa-solid fa-brain"></i> Tư duy Hệ thống</li>
        </ul>
    </div>

    <div class="sidebar-widget newsletter-widget">
        <h3>Đăng ký bản tin</h3>
        <p>Nhận những thông tin mới nhất về Strategy & Data hàng tuần.</p>
        <form class="newsletter-form">
            <input type="email" placeholder="Email của bạn">
            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 1rem;">Đăng ký</button>
        </form>
    </div>
</aside>
